<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
        <title>Guess The Number Game</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Great Number Game</h1>
            <h3>I am thinking of a number between 1 and 100.</h3>
            <h3>Take a guess!</h3>
            <form action='/guess' method="post">
                <input type="text" name="guess" value=""><br>
                <input type="submit" name="name" value="Submit Guess">
            </form><br>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            {% if message %}
                <p>{{ message }}{{session['guess_count']}}</p>
            {% endif %}
            <div class="reset">
                <form action='/reset' method="post">
                    Click below to reset<br>and play again.<br>
                    <input type="submit" name="reset" value="reset / play again">
                </form>
            </div>
            <br>{{ session['number']}}: left in for validation

        </div>
    </body>
</html>
